extends layout

block script
  link(rel='stylesheet', href='/stylesheets/payments.css')
  link(rel='stylesheet', href='/stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src="/js/bootstrap.min.js")
  script(src="/js/moment.js")
  script(src="/js/daterangepickerSingle.js")
  link(rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css")
  
block content
  .mainBlock
    .row
      .col-lg-7
        .scrollParent
          .scroll
            .payBlock

          
      .col-lg-5
        .scrollParent
          .scroll
            .right
              form.edit
                .addPhoto
                  button.uploadPhoto
                    img(src='img/png/cloud.png', alt='Cloud')
                    p Upload photo
                  input.editImage(type='file', encType="multipart/form-data", accept='image/jpg, image/jpeg, image/png, image/gif')
                .addText.addDate
                  input.demo.editDate(type="text", placeholder="Select date", name="date")
                .addText.addCash
                  p Enrollment amount:
                  input.editSum.checkInpEdit(type="numder", placeholder="Sum", name="sum", required, min='0')
                  p $
                .addText
                  select(class="", name="type").addType.editType
                    option(disabled selected) Type of payment
                    option CASH
                    option Department
                .addButtons
                  button.done(type="button") Confirm
                  button.editSave.payCheck(type="button") Update
                  button.delete(type="button") Delete 
                  button.addCancel(type="button", value) Cancel
              
block footer
  script(src='js/pending.public.js')
  script(src="js/onloadHandler3.js")
