@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%; }

select {
  -webkit-appearance: none; }
  select:hover {
    cursor: pointer; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, td img {
  vertical-align: top; }

input, select, button, textarea {
  margin: 0;
  font-size: 100%;
  outline: none; }

input[type="text"], input[type="password"], textarea {
  padding: 0; }

input[type="checkbox"] {
  vertical-align: bottom; }

input[type="radio"] {
  vertical-align: text-bottom; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

html {
  min-height: 100%; }

body {
  color: #7e7f84;
  text-align: left;
  font-size: 1em;
  min-height: 100%;
    min-height-font-family: 'Roboto', sans-serif; }

a, a:visited {
  color: #f45a40;
  text-decoration: underline; }

a:hover {
  color: #f45a40;
  text-decoration: none; }

a:focus, a:active {
  color: #f45a40;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

img {
  max-width: 100%; }

.clr {
  clear: both; }

.clearfix:after {
  clear: both;
  display: table; }

body {
  margin: 0;
  padding: 0; }

.header {
  background-color: #358DE0;
  width: 100%;
  height: 60px; }

.navBlock {
  width: 315px;
  margin: 0 auto; }

.nav {
  width: 60px;
  height: 50px;
  float: left;
  margin-left: 25px;
  margin-top: 5px;
  background-color: #358DE0;
  border: none; }
  .nav:first-child {
    margin-left: 0; }
  .nav:hover {
    cursor: pointer; }
  .nav:focus {
    outline: none; }
  .nav > h1 {
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin: 0 auto; }
  .nav .navImg1 {
    width: 34px;
    margin: 0 auto; }
  .nav .navImg2 {
    width: 35px;
    margin: 0 auto; }
  .nav .navImg3 {
    width: 38px;
    margin: 0 auto; }
  .nav .navImg4 {
    width: 27px;
    margin: 0 auto; }

.scrollParent {
  overflow: hidden;
  margin-right: -7px; }

.scroll {
  overflow: auto;
  height: 91vh; }
  .scroll::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px; }
  .scroll::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.08); }
  .scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15); }
    .scroll::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0, 0, 0, 0.4); }

.add {
  display: none; }

.article {
  border-bottom: 1px solid #EDEDED; }
  .article:hover {
    background-color: #EDEDED; }
  .article button {
    width: 100%;
    height: 75px;
    background-color: transparent;
    border: none; }
    .article button:hover {
      cursor: pointer; }
    .article button:focus {
      outline: none; }
  .article .house {
    float: left;
    display: block; }
    .article .house h2, .article .house p {
      font-size: 14px;
      margin: 15px 0 0 15px;
      text-align: left; }
    .article .house p {
      color: #656565;
      margin-top: 5px; }
  .article .members {
    float: right;
    display: block;
    width: 120px; }
    .article .members > p {
      float: left;
      display: block;
      margin-top: 26px;
      font-size: 14px;
      color: #656565; }
    .article .members .bad {
      margin-top: 33px;
      margin-right: 4px;
      width: 13px;
      float: left;
      display: block; }
    .article .members .bow {
      width: 10px;
      margin-top: 28px; }

#addBtn {
  width: 97%;
  height: 55px;
  margin: 10px;
  background-color: #358DE0;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  #addBtn:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer; }
  #addBtn:focus {
    outline: none; }
  #addBtn p {
    font-size: 20px;
    color: #fff;
    position: relative;
    top: 0px;
    left: 0px; }

.col-lg-5 {
  left: -7px;
  padding-left: 0;
  padding-right: 15px; }
  .col-lg-5 .overview {
    border-bottom: 1px solid #EDEDED;
    padding: 7px 0 10px 10px;
    left: -20px;
    height: 208px; }
    .col-lg-5 .overview .overviewImg {
      float: left;
      display: block;
      width: 250px;
      height: 200px; }
      .col-lg-5 .overview .overviewImg .houseImage {
        height: 190px;
        width: 250px; }
    .col-lg-5 .overview .overviewStatus {
      margin-top: 0px;
      margin-left: 285px;
      left: 500px;
      display: block; }
      .col-lg-5 .overview .overviewStatus .houseName {
        font-size: 24px;
        margin-bottom: 20px;
        height: 30px;
        width: 100%; }
      .col-lg-5 .overview .overviewStatus .houseInst {
        width: 100%;
        margin-top: 30px; }
        .col-lg-5 .overview .overviewStatus .houseInst button {
          wigth: 15px; }
          .col-lg-5 .overview .overviewStatus .houseInst button p {
            font-size: 15px;
            width: 60px; }
        .col-lg-5 .overview .overviewStatus .houseInst .gistEdit, .col-lg-5 .overview .overviewStatus .houseInst .gistDel {
          width: 50px;
          height: 50px;
          background: none;
          border: none; }
          .col-lg-5 .overview .overviewStatus .houseInst .gistEdit:hover, .col-lg-5 .overview .overviewStatus .houseInst .gistDel:hover {
            cursor: pointer; }
        .col-lg-5 .overview .overviewStatus .houseInst .gistDel {
          margin-left: 25%; }
      .col-lg-5 .overview .overviewStatus .bad {
        width: 50px;
        float: left;
        display: block;
        padding-top: 5px; }
      .col-lg-5 .overview .overviewStatus p {
        font-size: 30px;
        padding-left: 75px;
        color: #95989A; }
  .col-lg-5 .overviewName {
    border-bottom: 1px solid #EDEDED;
    padding: 11px 0 12px 22px; }
    .col-lg-5 .overviewName h2, .col-lg-5 .overviewName p {
      margin-bottom: 0;
      font-size: 15px;
      color: #808080; }
  .col-lg-5 .overviewText {
    border-bottom: 1px solid #EDEDED;
    padding: 11px 0 12px 22px;
    color: #95989A; }
    .col-lg-5 .overviewText p {
      margin-bottom: 0; }
  .col-lg-5 .overviewButtons {
    padding: 11px 0 12px 22px; }
    .col-lg-5 .overviewButtons .houseGistList {
      width: 420px;
      height: 48px;
      background-color: #5E82BC;
      color: #fff;
      border: none;
      margin-bottom: 12px; }
      .col-lg-5 .overviewButtons .houseGistList:hover {
        background-color: #358DE0;
        cursor: pointer; }
    .col-lg-5 .overviewButtons .houseControls {
      padding: 12px 0;
      margin-bottom: 28px; }
      .col-lg-5 .overviewButtons .houseControls select, .col-lg-5 .overviewButtons .houseControls input {
        width: 70px;
        margin: 0 35px 0 35px;
        float: left;
        display: block;
        font-size: 16px;
        border: none; }
    .col-lg-5 .overviewButtons .houseAddPerson {
      margin-top: 12px;
      width: 420px;
      height: 48px;
      border: solid 1px green;
      background-color: #fff;
      cursor: pointer; }

.edit {
  display: none; }

.overviewControls {
  margin-bottom: 10px; }
  .overviewControls > button {
    background-color: #fff;
    border: none;
    color: #808080; }
    .overviewControls > button:focus {
      outline: none; }
    .overviewControls > button:hover {
      cursor: pointer; }
  .overviewControls .gistEdit {
    float: left;
    margin-left: 125px; }
  .overviewControls .gistDel {
    float: right;
    margin-right: 125px; }

.overviewRooms {
  padding: 20px;
  border-bottom: solid 1px #EDEDED;
  height: inherit; }
  .overviewRooms .viewRoom {
    border-bottom: solid 1px #EDEDED;
    padding: 5px; }
    .overviewRooms .viewRoom h2 {
      font-weight: bold; }
    .overviewRooms .viewRoom .viewBed {
      margin-left: 20px;
      padding: 5px;
      height: 35px;
      box-sizing: border-box;
      border-bottom: solid 1px #EDEDED; }
      .overviewRooms .viewRoom .viewBed:last-child {
        border: none; }
      .overviewRooms .viewRoom .viewBed p, .overviewRooms .viewRoom .viewBed button {
        float: left;
        margin-right: 8%;
        color: #656565; }
      .overviewRooms .viewRoom .viewBed button {
        padding: 0;
        border: none;
        background: none; }
        .overviewRooms .viewRoom .viewBed button:hover {
          cursor: pointer;
          opacity: 0.6; }
      .overviewRooms .viewRoom .viewBed .overPlace {
        height: 25px;
        font-size: 12px;
        margin: 0;
        border: none;
        padding: 0 30px;
        margin-left: 30%;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 2px;
        background-color: #358DE0; }
        .overviewRooms .viewRoom .viewBed .overPlace:hover {
          cursor: pointer; }

.addPhoto {
  height: 170px;
  border-bottom: 1px solid #EDEDED; }
  .addPhoto > img {
    margin-left: 165px;
    width: 130px; }
  .addPhoto .uploadPhoto {
    position: relative;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 10px auto 10px auto;
    background-color: #fff;
    border: none;
    color: #fff;
    height: 150px;
    width: 200px;
    font-size: 15px;
    font-weight: 500; }
    .addPhoto .uploadPhoto p {
      margin-bottom: 0; }
    .addPhoto .uploadPhoto:hover {
      cursor: pointer; }

.addText {
  border-bottom: 1px solid #EDEDED;
  height: 65px;
  padding: 18px 15px 0 15px; }

.addTitle input, .addAddress input {
  border: none;
  width: 100%; }
  .addTitle input:focus, .addAddress input:focus {
    outline: none; }

.addRoom {
  color: #95989A; }
  .addRoom .addRoomLeft {
    width: 150px;
    float: left; }
    .addRoom .addRoomLeft > .room {
      float: left; }
  .addRoom .addRoomRight {
    margin-left: 240px;
    height: 20px; }
    .addRoom .addRoomRight input {
      width: 20px;
      float: left;
      border: none;
      margin: -2px 10px;
      text-align: right;
      font-size: 20px; }
      .addRoom .addRoomRight input:focus {
        outline: none; }
    .addRoom .addRoomRight button {
      float: left;
      background-color: #fff;
      border: none;
      cursor: pointer; }
      .addRoom .addRoomRight button:focus {
        outline: none; }
    .addRoom .addRoomRight p {
      width: 50px;
      float: left;
      margin: 3px 0 0 15px; }

.addRoomBtn {
  padding: 0; }
  .addRoomBtn button {
    width: 430px;
    margin: 10px 0px 10px 15px;
    background-color: #358DE0;
    color: #fff;
    border: none;
    padding: 10px 0;
    cursor: pointer; }

.addDiscription {
  min-height: 65px;
  border-bottom: 1px solid #EDEDED; }
  .addDiscription textarea {
    margin: 10px 15px 10px 15px;
    overflow: hidden;
    width: 430px;
    height: 200px;
    border: none; }

.addButtons button {
  width: 430px;
  margin: 10px 0px 0 15px;
  padding: 10px 0;
  color: #fff;
  border: none; }
  .addButtons button:focus {
    outline: none; }
  .addButtons button:hover {
    cursor: pointer; }

.addButtons .addSave {
  background-color: #8DBC5E; }
  .addButtons .addSave:hover {
    background-color: #A1D46E; }

.addButtons .addCancel {
  background-color: #FF7722; }
  .addButtons .addCancel:hover {
    background-color: #FD8D47; }

.addButtons .editSave {
  background-color: #8DBC5E; }
  .addButtons .editSave:hover {
    background-color: #A1D46E; }

.addButtons .editCancel {
  background-color: #FF7722; }
  .addButtons .editCancel:hover {
    background-color: #FD8D47; }

.place {
  display: none; }

.placeOpen {
  width: 420px;
  height: 48px;
  padding: 10px 0;
  margin-bottom: 12px;
  color: #fff;
  border: none;
  background-color: #8DBC5E; }
  .placeOpen:focus {
    outline: none; }
  .placeOpen:hover {
    cursor: pointer;
    background-color: #A1D46E; }

.addPhoto {
  position: relative; }
  .addPhoto input {
    margin: 30px 50px 30px 150px;
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 80px;
    transform: scale(20);
    letter-spacing: 10em;
    -ms-transform: scale(20);
    opacity: 0;
    cursor: pointer; }

input[type=number]::-webkit-inner-spin-button {
  display: none; }

.greenPerson {
  background-color: #8DBC5E;
  border: none;
  cursor: pointer; }
  .greenPerson:hover {
    background-color: #A1D46E; }

.delEditFalse {
  color: #F5A3A3; }

.superPuperHousePlace {
  display: none; }

.notificationHouse {
  position: fixed;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  z-index: 20; }

.superPlaceWindow {
  position: fixed;
  background-color: #fff;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 40%;
  opacity: 1;
  z-index: 20;
  padding: 30px; }
  .superPlaceWindow .closeNotif {
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
    color: #fff; }
    .superPlaceWindow .closeNotif:hover {
      cursor: pointer; }

/*# sourceMappingURL=houses.css.map */